# Homework 2022-09-14

This week we looked at *for loops*, which are a way to tell Python to do some operations repeatedly. Let's start by writing a loop that prints the letters in a piece of text one by one:

In [54]:
scott = "Milos"
for letter in scott:
    print("Hello", letter)

Hello M
Hello i
Hello l
Hello o
Hello s

The first line of every loop has the same structure: the word `for`, a temporary variable that will be assigned each part of something in turn, the word `in`, and then something that has parts. In this case, the variable is `letter`, and the things with parts is `scott` (the parts are the letters in the string). The operation(s) that the loop runs are indented below the first line to show that they belong to the loop: in this case there's just one line that prints each letter in turn.

Please note that we can call the temporary variable anything we want. For example, we could use the variable name `number` instead of the name `letter`. This would be a really bad idea, though: the computer doesn't care what we call our variables, but the next person reading your code will be pretty confused if you call the variable `number` and it holds a letter.

The parts of a character string are its characters; the parts of a list are the items in the list. Let's run this loop:

In [55]:
people = ["sakshi", "james", "vincent"]
for person in people:
    print("Hello", person)

Hello sakshi
Hello james
Hello vincent

The first time around the loop, `person` is assigned `"sakshi"` because that's the first thing in the list. The second time around, `person` is `"james"`, and the third time, `"vincent"`.

A loop can hold many things, including other loops. Let's try this:

In [56]:
colors = ["red", "tan"]
for col in colors:
    print("whole color is", col)
    for letter in col:
        print(letter)

whole color is red
r
e
d
whole color is tan
t
a
n

Let's trace the code above.

1. `colors` is assigned a list with two strings.
2. The *outer loop* assigns `"red"` to the variable `col`.
3. The first `print` runs and prints `whole color is red`.
4. The *inner loop* now runs once for each letter in the current value of `col`, i.e., once for each letter in `"red"`.
5. Once the inner loop finishes printing the three letters in `"red"`, the first lap around the outer loop is finished.
6. The second lap of the outer loop now begins by assigning `"tan"` to `col`.
7. The code prints `whole color is tan` …
8. … and then prints each letter in `"tan"` one by one.

The example above isn't very useful, but here's another way to use nested loops that is.
It's quite common to represent a table as a list of lists:
each sub-list is a row, and the values in those rows correspond to columns.
For example, here's the table:

<table>
    <tr><td>10</td><td>20</td></tr>
    <tr><td>30</td><td>40</td></tr>
</table>

In [57]:
table = [
    [10, 20],
    [30, 40]
]
print(table)

[[10, 20], [30, 40]]

Let's add up all the values in the table:

In [58]:
total = 0
for row in table:
    for value in row:
        total = total + value
print("Total", total)

Total 100

There are just a couple of other things you'll need for the homework questions.
The first is the functions `max` and `min`, which do what you expected for numbers:

In [59]:
print(max(3, 5))

5

In [60]:
print(min(3, 5))

3

They also work on strings, which use *dictionary order*:

In [61]:
print(max("Vincent", "Anna"))

Vincent

In [62]:
print(max("Vincent", "Zag"))

Zag

But wait: what's going on here?

In [63]:
print(max("vincent", "Anna"))

vincent

The problem is that, for historical reasons, all lower-case letters come *after* all upper-case letters. For example:

In [64]:
print("a" < "z")

True

In [65]:
print("a" < "Z")

False

The rules are even more complicated when you have accented characters or non-Latin characters:

In [66]:
print("u" < "ü")

True

In [67]:
print("α" < "z")

False

## Homework

Fill in the underscores `___` in the code below to concatenate all the strings in the list. The result should be the single word `redgreenblue`.

In [7]:
result = ""
for color in ["red", "green", "blue"]:
    result = color + result
print(result)

bluegreenred

Fill in the underscores in the code below to find the "largest" string in the list (i.e., the one that comes last in a dictionary).

In [6]:
result = ""
for color in ["red", "green", "blue"]:
    result = max(result, color)
print(result)

red

The function `len` gives you the length of a string (i.e., the number of characters it contains). For example, `len("red")` is 3. Use this to find the length of the longest string in the list (which should be 5):

In [8]:
result = 0
for color in ["red", "green", "blue"]:
    result = max(result, len(color))
print(result)

5

You can concatenate two lists using `+`. For example, `[1, 3] + [5, 7]` is the list `[1, 3, 5, 7]`.
Use this to create a list that contains the lengths of all the color names, which should be `[3, 5, 4]`.

In [9]:
result = []
for color in ["red", "green", "blue"]:
    result = result + [len(color)]
print(result)

[3, 5, 4]

Suppose we are using a list of lists to represent a table and we want to add up all the values along the diagonal.
Fill in the blanks in the code below to do this.

In [ ]:
table = [
    [ 1,  2,  3,  4,  5],
    [11, 12, 13, 14, 15],
    [21, 22, 23, 24, 25],
    [31, 32, 33, 34, 35],
    [41, 42, 43, 44, 45]
]

diagonal = 0
for i in [0, 1, 2, 3, 4]:
    diagonal = diagonal + table[____][____]
print(diagonal)