# Dataframes

This week we are looking at how to load tabular data into a *dataframe* and how to do some basic operations with it. We will use a Python library called Pandas for this, so the first step is to load the library into our notebook:

In [2]:
import pandas

The `import` keyword means "load this library" - we will use it to load lots of other libraries in the weeks to come.

Since we're going to be doing a lot of things with Pandas, it's common to give it a nickname or *alias* as we load it using the `as` keyword:

In [3]:
import pandas as pd

We can now refer to things from the Pandas library as pd.*thing*: the `.` separator means "get the thing on the right from the thing on the left". For example, we can read the file `colors.csv` like this:

In [4]:
colors = pd.read_csv("colors.csv")

Left to right, the statement above is, "Create a new variable called `colors` and assign it the result of using the `read_csv` function from `pd` (which is an alias for Pandas) with the file `colors.csv` (which we have to write as a string, hence the quotes)."

`read_csv` creates a dataframe: a table with named columns and zero or more rows. Let's have a look at its contents:

In [5]:
colors

       name  red  green  blue
0     black  0.0    0.0   0.0
1      blue  0.0    0.0   1.0
2      cyan  0.0    1.0   1.0
3      gray  0.5    0.5   0.5
4     green  0.0    0.5   0.0
5      lime  0.0    1.0   0.0
6   magenta  1.0    0.0   1.0
7    maroon  0.5    0.0   0.0
8      navy  0.0    0.0   0.5
9     olive  0.5    0.5   0.0
10   purple  0.5    0.0   0.5
11      red  1.0    0.0   0.0
12     teal  0.0    0.5   0.5
13   yellow  1.0    1.0   0.5
14    white  1.0    1.0   1.0

We can select a single column from the dataframe using its name, and do arithmetic on whole columns at once just as we would on simple variables. Let's calculate a weighted average of the red, green, and blue values of each color:

In [6]:
(colors["red"] + 2 * colors["green"] + colors["blue"]) / 4

0     0.000
1     0.250
2     0.750
3     0.500
4     0.250
5     0.500
6     0.500
7     0.125
8     0.125
9     0.375
10    0.250
11    0.250
12    0.375
13    0.875
14    1.000
dtype: float64

It's tempting to write `colors["red", "green"]` to get two columns at once, but that doesn't work: we can only put one "thing" inside the `[...]`. However, that thing can be a list of column names like `["red", "green"]`:

In [7]:
colors[["green", "red"]]

    green  red
0     0.0  0.0
1     0.0  0.0
2     1.0  0.0
3     0.5  0.5
4     0.5  0.0
5     1.0  0.0
6     0.0  1.0
7     0.0  0.5
8     0.0  0.0
9     0.5  0.5
10    0.0  0.5
11    0.0  1.0
12    0.5  0.0
13    1.0  1.0
14    1.0  1.0

What about getting rows? It's tempting to write `colors[0]` to get the first row (remember, Python counts from 0), but the creators of Pandas decided that would be ambiguous: does it mean the first row or the first column? Instead, we use a *property* of the dataframe called `iloc`, which is short for "integer location". Since `iloc` is part of the dataframe, we refer to it as `colors.iloc`; we then give the index we want:

In [8]:
colors.iloc[0]

name     black
red        0.0
green      0.0
blue       0.0
Name: 0, dtype: object

The line at the bottom tells us that we have the row named `0`, and that its datatype (or `dtype`) is "object". You can safely ignore this for now.

What if we want multiple rows? We can select using a *range* like this:

In [9]:
colors.iloc[0:4]

    name  red  green  blue
0  black  0.0    0.0   0.0
1   blue  0.0    0.0   1.0
2   cyan  0.0    1.0   1.0
3   gray  0.5    0.5   0.5

And once again, if we give a list row numbers, we can select any rows we want (including duplicates):

In [10]:
colors.iloc[[1, 3, 3, 5]]

   name  red  green  blue
1  blue  0.0    0.0   1.0
3  gray  0.5    0.5   0.5
3  gray  0.5    0.5   0.5
5  lime  0.0    1.0   0.0

We can combine indexing expressions to select columns and rows in a single line. Reading from left to right, the code below says, "From the dataframe `colors`, select the two rows called `"red"` and `"blue"`, and from that subtable select the rows 0, 1, 2, 3":

In [11]:
colors[["red", "blue"]].iloc[0:4]

   red  blue
0  0.0   0.0
1  0.0   1.0
2  0.0   1.0
3  0.5   0.5

Sometimes we don't want to select rows by location, but by value: for example, we might want all the colors that have no red in them. To see how we do this, let's use `==` (which tests for equality) to see which rows pass the test "no red":

In [12]:
colors["red"] == 0.0

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7     False
8      True
9     False
10    False
11    False
12     True
13    False
14    False
Name: red, dtype: bool

And of course, we can assign the result of our check to a temporary variable:

In [13]:
temp = (colors["red"] == 0.0)
temp

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7     False
8      True
9     False
10    False
11    False
12     True
13    False
14    False
Name: red, dtype: bool

Now, if we use that temporary variable as an index with the property `loc` (for "location" - note that it's *not* `iloc` but just `loc`), Pandas will select only the rows corresponding to `True`:

In [14]:
colors.loc[temp]

     name  red  green  blue
0   black  0.0    0.0   0.0
1    blue  0.0    0.0   1.0
2    cyan  0.0    1.0   1.0
4   green  0.0    0.5   0.0
5    lime  0.0    1.0   0.0
8    navy  0.0    0.0   0.5
12   teal  0.0    0.5   0.5

We don't have to use a temporary variable: we can put the expression that selects the rows we want directly into `colors.loc[...]` like this:

In [15]:
colors.loc[colors["red"] == 0.0]

     name  red  green  blue
0   black  0.0    0.0   0.0
1    blue  0.0    0.0   1.0
2    cyan  0.0    1.0   1.0
4   green  0.0    0.5   0.0
5    lime  0.0    1.0   0.0
8    navy  0.0    0.0   0.5
12   teal  0.0    0.5   0.5

So here's a complicated expression:
- from the dataframe `colors`
- select the rows that have more blue than green
- and then select the red column and show that

In [16]:
colors.loc[colors["blue"] > colors["green"]]["red"]

1     0.0
6     1.0
8     0.0
10    0.5
Name: red, dtype: float64

Finally, every dataframe has a function called `agg` that *aggregates* values. For example, let's find the maximum value in each column:

In [17]:
colors.agg("max")

name     yellow
red         1.0
green       1.0
blue        1.0
dtype: object

This *does not* mean there is a color called `yellow` with red, green, and blue set to 1. Instead, it means that the maximum value in the `name` column is "yellow" (i.e., that's the last string in dictionary order), and that the maximum values in the red, green, and blue columns are all 1.

We can calculate multiple aggregates at once, and only for columns of interest:

In [18]:
colors["red"].agg(["min", "mean", "max"])

min     0.0
mean    0.4
max     1.0
Name: red, dtype: float64

But look what happens when we try to calculate the sum:

In [19]:
colors.agg("sum")

name     blackbluecyangraygreenlimemagentamaroonnavyoli...
red                                                    6.0
green                                                  6.0
blue                                                   6.5
dtype: object

The values for the color columns make sense; what's happening with `name`? Well, if `"hello" + "there"` is `"hellothere"`, then the "sum" of all the color names is the concatenation of those names. This is silly, but not harmful. What *is* harmful is trying to calculate the mean of a bunch of text strings:

In [20]:
colors.agg("mean")

/var/folders/km/0m_jwvn111l2d5vsw_tz3dlr0000gn/T/ipykernel_534/1577097199.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  colors.agg("mean")

red      0.400000
green    0.400000
blue     0.433333
dtype: float64

Pandas gives us a warning, then does the calculation for those columns where it makes sense. Please do *not* disable these warnings: you can, but sooner or later, turning off the alarm will cause you grief.

## Homework

Write an expression that selects rows 3-6 inclusive from `colors`:

In [23]:
colors

       name  red  green  blue
0     black  0.0    0.0   0.0
1      blue  0.0    0.0   1.0
2      cyan  0.0    1.0   1.0
3      gray  0.5    0.5   0.5
4     green  0.0    0.5   0.0
5      lime  0.0    1.0   0.0
6   magenta  1.0    0.0   1.0
7    maroon  0.5    0.0   0.0
8      navy  0.0    0.0   0.5
9     olive  0.5    0.5   0.0
10   purple  0.5    0.0   0.5
11      red  1.0    0.0   0.0
12     teal  0.0    0.5   0.5
13   yellow  1.0    1.0   0.5
14    white  1.0    1.0   1.0

In [22]:
colors.iloc[2:6]

    name  red  green  blue
2   cyan  0.0    1.0   1.0
3   gray  0.5    0.5   0.5
4  green  0.0    0.5   0.0
5   lime  0.0    1.0   0.0

Write an expression that selects the blue and green columns *in that order* from `colors`:

In [27]:
colors[["blue", "green"]]

    blue  green
0    0.0    0.0
1    1.0    0.0
2    1.0    1.0
3    0.5    0.5
4    0.0    0.5
5    0.0    1.0
6    1.0    0.0
7    0.0    0.0
8    0.5    0.0
9    0.0    0.5
10   0.5    0.0
11   0.0    0.0
12   0.5    0.5
13   0.5    1.0
14   1.0    1.0

Write an expression that calculates the average red value of all the colors:

In [30]:
colors["red"].agg("mean")

0.4

Write an expression that selects the rows with more red than average. (It's OK to use a temporary variable to make your code more readable.)

In [33]:
average_red = colors["red"].agg("mean")
what_we_want = colors["red"] > average_red
colors.loc[what_we_want]

       name  red  green  blue
3      gray  0.5    0.5   0.5
6   magenta  1.0    0.0   1.0
7    maroon  0.5    0.0   0.0
9     olive  0.5    0.5   0.0
10   purple  0.5    0.0   0.5
11      red  1.0    0.0   0.0
13   yellow  1.0    1.0   0.5
14    white  1.0    1.0   1.0

In [34]:
colors.loc[colors["red"] > colors["red"].agg("mean")]

       name  red  green  blue
3      gray  0.5    0.5   0.5
6   magenta  1.0    0.0   1.0
7    maroon  0.5    0.0   0.0
9     olive  0.5    0.5   0.0
10   purple  0.5    0.0   0.5
11      red  1.0    0.0   0.0
13   yellow  1.0    1.0   0.5
14    white  1.0    1.0   1.0

The function `len` tells us how many characters there are in a string, how many items there are in a list, or how many rows there are in a dataframe:

In [35]:
len(colors)

15

Using this function, write an expression that shows the number of rows in `colors` with more green than blue:

In [36]:
len(colors.loc[colors["green"] > colors["blue"]])

4