# Learning Python 2022-09-07

This is a [Markdown](https://en.wikipedia.org/wiki/Markdown) cell:
I can write plain text, put in headings (which start with `#`),
add *italics* or **boldface**,
include links (like the one to Markdown earlier),
and so on.

In [2]:
# Python uses the '#' character for comments.
# Anything after that character is ignored by Python, but can help human readers
# understand what the code is doing.

# Let's print a message. The 'print' function is built in to Python; it prints
# out everything we give it in parentheses.
print("Hello, there")

Hello, there

In [3]:
# We can do math:
1 * 2 + 3 / 4

2.75

In [4]:
# Python has a lot of other built-in functions, like 'max'; we'll meet them
# as we go along. Learning them is like learning the common verbs in a new
# language: you just have to memorize a couple of dozen to get by.
max(1, 2, 3)

3

## Variables and Strings

In [43]:
# We can put as many statements (or commands) in a cell as we want.
# When we run the cell, Python executes them all in order.
# Normally it only shows the result of the last statement;
# if we want to see intermediate output we have to use 'print' explicitly.

# Here, we're assigning a value (the character string "biologist")
# to a variable called 'sakshi'. Think of variables as being like sticky notes
# we put on data: we can use the variable's name to refer to the data.
sakshi = "biologist"
print(sakshi)

# We can change what a variable refers to by assigning it a new value.
# This is like moving the sticky note from the string "biologist" to
# the string "future CEO".
sakshi = "future CEO"
print(sakshi)

biologist
future CEO

In [62]:
# Python remembers the values of variables from cell to cell. While we defined
# the variable 'sakshi' above, it still has a value in this cell.
sakshi

'biologist'

In [80]:
# Here's another useful built-in function: 'len'. It tells us how many items
# there are in a piece of data. If the data is a character string, it tells us
# how many characters there are. We'll meet other kinds of data later; 'len'
# will work on them as well.
len("biologist")

9

In [113]:
# Let's play around with indexing. Python always uses square brackets '[]'
# to get an item out of a larger piece of data.
sakshi = "biologist"
print("The first character is at index 0:", sakshi[0])
print("The second character is at index 1", sakshi[1])
print("Negative indexing counts backward from the end, so the index -1 is the last character", sakshi[-1])

The first character is at index 0: b
The second character is at index 1 i
Negative indexing counts backward from the end, so the index -1 is the last character t

In [129]:
# Why does Python use negative indexes to count backward? Because otherwise we
# would have to write something like this to get the last character:
# - 'len(sakshi)' is the number of characters in the text
# - so 'len(sakshi) - 1' is the index of the last character (since we're counting from zero)
sakshi[len(sakshi) - 1]

't'

## Slices

In [144]:
# Now let's look at slices, which are subsections of a string that might contain
# more than one character. If we say 'string[start:end]', we mean the characters
# in the string from index 'start' up to but not including index 'end'.
anna = "scientist!"
anna[0:3]

'sci'

In [157]:
# This expression goes from index 5 up to but not including index 9. One way
# to remember it is that the difference between the two indexes is the number
# of characters in the result: 9-5 means we get 4 characters.
anna[5:9]

'tist'

In [169]:
# We can use negative indexes too. Here, we go from the third-from-the-end location
# up to (but not including) the last location, so we get 2 characters:
anna[-3:-1]

'st'

In [180]:
# If we only specify the starting index, the slice goes all the way to the end.
anna[-3:]

'st!'

In [190]:
# And if we only specify the end, the slice starts at the beginning:
anna[:5]

'scien'

In [199]:
# Which means that if we don't specify either, the slice goes from the start to the end
# and gives us back the entire character string.
anna[:]

'scientist!'

## Lists

In [208]:
# We can create a list by putting some values in square brackets '[]'. Here, we
# are creating a list with three strings.
students = ["vincent", "sesha", "tanner"]
print(students)

['vincent', 'sesha', 'tanner']

In [210]:
# Indexing and slicing work exactly as they do for character strings.
print("item at location 0:", students[0])
print("slice from 0 to 2:", students[0:2])

item at location 0: vincent
slice from 0 to 2: ['vincent', 'sesha']

In [211]:
# Let's trace through the expression below:
# - 'students' is a variable that refers to a list with three elements
# - So 'students[0]' is the first element of the list, which is the string "vincent"
# - So 'students[0][0]' is the first character of the string "vincent", which is "v"
students[0][0]

'v'

In [215]:
# By the same logic, 'students[1][1]' is the second character of the second item
# in the list.
students[1][1]

'e'

In [218]:
# We can get the item at index 1 from 'students' and then slice it:
students[1][1:3]

'es'

In [220]:
# But we can't slice first and then get the item at index 1: why not?
students[1:2][1]

IndexError: list index out of range

In [221]:
# The reason is that 'students[1:2]' gives us a list with one element, not one
# item from the list. Every time we use a slice, we get a sublist with the
# specified range of elements; we only get a single item out of the list when
# when provide a single index rather than a slice with a colon in it:
students[1:2]

['sesha']

In [233]:
# Just to prove that, here's 'students[1]', which is just the string "sesha"
# rather than a list containing the string "sesha". Yes, it's confusing at
# first, but it's consistent, and will become second nature pretty quickly.
students[1]

'sesha'

In [244]:
# A few more things about indexing. As a reminder, our list is:
print(students)

['vincent', 'sesha', 'tanner']

In [254]:
# If we ask for 'students[1:1]', we're asking for the slice that starts at index 1
# and goes up to but not including index 1. No index satisfies those conditions,
# so we get back an empty list - a list with nothing in it.
students[1:1]

[]

In [264]:
# We can have empty strings, too. When we print them, we don't see anything because
# there aren't any characters to print:
print("")

## Concatenation

In [265]:
# We can "add" strings, which concatenates them:
"gö" + "kçe"

'gökçe'

In [266]:
# We can also add lists:
lefties = ["greg"]
whatever = ["aisha", "sagal", "vincent"]
print(lefties + whatever)

['greg', 'aisha', 'sagal', 'vincent']

In [267]:
# But while 2+3 is the same as 3+2, lefties+whatever is not the same as whatever+lefties:
# lists are ordered, so when we add two lists we get the items in that order.
print(whatever + lefties)

['aisha', 'sagal', 'vincent', 'greg']

In [269]:
# Finally, a list can contain values of different types, like character strings
# and integers. Here's a very simple experiment record:
experiment = ["VAR122", "2022-09-05", 12.5, 2.2, 6]
print(experiment)

['VAR122', '2022-09-05', 12.5, 2.2, 6]

## Homework

In [9]:
# Here's a list of five colors.
colors = ["red", "orange", "yellow", "green", "blue"]

# Replace the underscores '___' with something that will print out the word "green".
print(colors[3])

green

In [8]:
# Replace the underscores with something that will print the list ["orange", "yellow", "green"]
print(colors[1:4])

['orange', 'yellow', 'green']

In [17]:
# Replace the underscores with something that will print the list ["red", "blue"].
# Notice that you have two blanks to fill in.
# print("Hello" + "Solomon")
# FIXME
print(colors[0] + colors[4])

redblue

In [18]:
# Replace the underscores with something that will print the string "or".
print(colors[1][0:2])

or

In [19]:
# Lists can contain character strings, numbers... and other lists. These are usually
# called "nested lists"; the main list is called the "outer list", and the ones inside
# it are called "inner lists". (Programmers aren't very creative when it comes to
# naming things.)

# Here's a list of scientific bird names:
birds = [
    ["Snow goose", "Answer caerulescens"],
    ["Tundra swan", "Cygnus columbianus"],
    ["Cinnamon teal", "Spatula cyanoptera"],
    ["Harlequin duck", "Histrionicus histrionicus"],
    ["Smew", "Mergellus albellus"]
]

# Fill in the underscores to get the sublist for the smew (with both the common name
# and the scientific name):
print(birds[-1])

['Smew', 'Mergellus albellus']

In [20]:
# Fill in the underscores to get just the string "Cinnamon teal"
print(birds[2][0])

Cinnamon teal

In [21]:
# Fill in the underscores to get just the word "Harlequin"
print(birds[3][0][0:9])

Harlequin